#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.prefecture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .prefecture-list {
    flex-direction: column;
  }
}

.chart-container {
  width: 100%;
  max-width: 1200px; /* PCでの最大幅 */
  min-width: 300px; /* スマホで見切れないように */
  margin: auto; /* 中央揃え */
  align-items: center;
}

/* スマホ（600px以下）のとき */
@media screen and (max-width: 600px) {
  .chart-container {
    max-width: 100%; /* スマホでは横幅いっぱい */
    padding: 0 10px; /* 余白を少し確保 */
  }
}

.radio-group {
  display: flex;
  align-items: center; /*縦方向の中央揃え*/
  justify-content: center; /*横方向の中央揃え*/
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .radio-group {
    flex-direction: column;
  }
}
